body {
    margin: 0;
    width: 100vw;
    height: 100vh;    
    background-color: black;
    position: relative;
}
a {
    text-decoration: none;
    color: cornflowerblue;
}

.logoarea:hover .logo{
    transform: rotate(360deg);
    filter: sepia(100%);
    
}

.card {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; 
    height: 56.25vw;   
    background-color: white;
    display: flex;    
    justify-content: center;
    border-style: solid;
    border-color: violet;
}

.hook {
    height: fit-content;
    word-wrap: normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    margin: 20px; 
    margin-bottom: 0px;  
}

p {
    margin: 10px;
    margin-bottom: 0px;
}

.photoarea {
    height: 100%; 
    width: 30%; 
    padding-top: -10%;
    background: url('spaceexplore.jpg');  
    background-size: 100% 100%; 
       

}

.infoarea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.forminfo{
    display: flex;
    margin-left: 10px;
    gap: 50px;    
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: rgba(0, 0, 0, 0.678);
    margin-bottom: 0px;
}

input:focus {
    border-color: cornflowerblue;
    border-style: solid;
    outline: none;    
    box-shadow: 0 0 5px cornflowerblue;
}
label:hover {
    color: cornflowerblue;  
}

.info {
    margin-top: 0px;
}
.error {
    margin-left: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: red;
    visibility: hidden;
    margin-top: 5px;
}

.logoarea {
    width: 100%;
    display: flex; 
    justify-content: center;  
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.747);
    position: relative;
}
.logo {    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;   
    transition: transform 0.3s ease; 
}

.signup {
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.login {
    margin-bottom: 10px;
    margin-left: 20px;
}